#central {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 300px;
  height: 400px;
  background-color: aliceblue;
  margin: auto;
}
#campos {
  height: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 10px;

  border-radius: 10px;
}
#result{
    font-size: 25px;
    font-weight: 1;
}
